@use '../styles/_util' as *

.appContainer
  @include flex(center, center, row)
  width: 100%

  .appContent
    @include flex(space-between, center, row)
    max-width: 1200px
    width: 100%
    border: 1px solid red

    


