
$blue-800: #080822
$yellow-200: #FEC212


$purple-100: #633BBC

$purple-500: #2f1c58
$purple-800: #1A1523
$purple-900: #14111C

$gray-500: #2F363E

$white: #FFFFFF
$black: #000000


$reactjs: #61DBFB
$typescript: #2D79C7
$mongodb: #07AC4F
$mysql: #00618A
$css: #214CE5
$html: #E54C21
$javascript: #F7E018
$sass: #D47EA8