


$white: #FFFFFF
$black: #000000

$purple-100: #5468ff
$gray-400: #e4e4ec
$gray-500: #767677
$gray-600: #4C4C54
$gray-700: #23232E
$gray-800: #20202A  
$gray-900:#191923

$default-radius: .5rem

@mixin flex($justify, $align, $direction)
  display: flex
  justify-content: $justify
  align-items: $align
  flex-direction: $direction