@use './_util' as *

*
  margin: 0
  padding: 0
  box-sizing: border-box

body
  background-color: $gray-900
  color: $white
  
body, input, textarea, button, html
  font-family: 'Inter'
  font-size: .93rem
  font-weight: 400
  
li
  list-style: none

a
  text-decoration: none
  color: inherit
