@use '../../styles/_util' as *
  
.projects
  width: 100%
  padding: 1rem


  .list
    display: grid
    grid-template-columns: repeat(2, 1fr)
    gap: 1rem


    .project
      @include flex(flex-start, flex-start ,column)
      gap: 1rem
      background-color: $gray-700 
      border-radius: $default-radius
      padding: 1rem

      ul
        display: flex
        gap: 1rem
        li
          color: $purple-100
          cursor: pointer
          &:hover
            text-decoration: underline
      a
        text-decoration: underline
        transition: color 0.2s ease
        &:hover
          color: $purple-100
